.equipmentSelect {
  input[type=number] {
    width: 3rem;
  }
}

.unused td {
  color: #555;
  background: #3002;
}

button {
  cursor: pointer !important;
  width: 100% !important;
}

.unused * {
  cursor: not-allowed !important;
}
