#balancr-configTitle {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

#configTitleData {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  justify-content: start;

  h4 {
    margin: 4px 0px;
  }
}

.unused td {
  color: #555;
  background: #3002;

  button {
    cursor: pointer !important;
  }
}

button {
  width: 100% !important;
}

.unused.clickable * {
  cursor: not-allowed !important;
}

td:has(.equipmentEdit) {
  position: relative;
  cursor: pointer;
}

dialog:has(.equipmentEdit) {
  position: absolute;
  /* width: 8rem; */
  bottom: 10px;
  left: 100%;
  z-index: 2;
  background: var(--dialog-bg);
  padding: 6px;
  border-radius: 6px;
  border-width: 2px;
}

dialog::before {
  content: '';
  position: absolute;
  border-right: 10px solid var(--dialog-bg);
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  /* Color and size of the arrow */

  width: 0px;
  height: 0px;
  transform: translateX(-50%);
  left: -7px;
  bottom: 0%;
}

.equipmentEdit {
  color: var(--text-h);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 3px;
}
