#balancr-configTitle {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

#configTitleData {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  justify-content: start;

  h4 {
    margin: 4px 0px;
  }

  p {
    margin: auto 0px;
  }
}

.unloaded td {
  color: #555;
  background: #2353;

}

.unloaded .armUpdate {
  cursor: unset !important;
}

.unused td {
  color: #555;
  background: #3002;
}

button {
  width: 100% !important;
}

.unused .clickable {
  cursor: not-allowed !important;
}

td:has(.addRemoveDialog),
td:has(.equipmentEdit) {
  position: relative;
}

dialog {
  position: absolute;
  z-index: 2;
  background: var(--dialog-bg);
  padding: 6px;
  border-radius: 6px;
  border: 2px solid var(--dialog-border);
}

dialog.addRemoveDialog {
  top: 0rem;
  bottom: 0rem;
  top: 0rem;
  left: 2rem;
  width: 8rem;
}

dialog.addRemoveDialog::before {
  content: '';
  position: absolute;
  border-right: 10px solid var(--dialog-border);
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  /* Color and size of the arrow */

  width: 0px;
  height: 0px;
  transform: translateX(-50%);
  left: -7px;
  bottom: calc(50% - 10px);
}

dialog:has(.equipmentEdit)::before {
  content: '';
  position: absolute;
  border-right: 10px solid var(--dialog-border);
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  /* Color and size of the arrow */

  width: 0px;
  height: 0px;
  transform: translateX(-50%);
  left: -7px;
  bottom: calc(50% - 10px);
}

dialog:has(.equipmentEdit) {
  bottom: 0px;
  top: 0rem;
  left: 100%;
  cursor: initial;
}

.equipmentEdit {
  color: var(--text-h);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 3px;
}

.equipmentEdit div {
  display: flex;
  gap: 8px;
}
