#exportPreview {
  height: 11in;
  width: 8.5in;
  margin: 0px auto;
  border: unset;
}

#exportTitle {
  display: flex;
  justify-content: space-between;

  select {
    width: 13rem;
  }

  #exportButtonHolder {
    display: grid;
    grid-template-columns: 8rem 8rem;
    align-items: center;
    gap: 6px;

    @media (max-width: 580px) {
      grid-template-columns: 8rem;
    }
  }
}

#inputsHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#inputsHolder>div {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto auto;
  gap: 6px;
  margin: 4px 0px;

  label {
    margin: auto 0px;
  }

  input {
    max-width: 10.2rem;
    min-width: 4rem;
  }
}

#iframeHolder {
  overflow-y: auto;
  min-height: 25rem;
}

#exportButton {
  width: 100%;
}

#scaleHolder {
  display: grid;
  overflow: hidden;
}

:has(iframe) {
  color-scheme: light;
}

#templateDownloadDialog {
  width: 30rem;
  max-width: 80vw;
  max-height: 80vh;
  display: grid;
  align-items: start;
  align-content: start;
  color: var(--text-h);
  overflow: auto;

  .top {
    display: flex;
    justify-content: space-between;
  }

  p {
    text-indent: 1.5rem;
  }

  ul {
    margin-block-start: .15em;
    margin-block-end: .15em;
  }
}
