h2 {
  text-align: start;
}

#balancr-configTitle {
  height: fit-content;
}

#loaders {
  @media (min-width: 680px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;
  }
}

.filler {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  column-gap: 10px;
  justify-content: start;
  align-items: center;
}

.filler div:has(.rightDialog) {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 5rem;
  }
}

.rightDialog {
  position: absolute;
  z-index: 10;
  left: 100%;
  top: -15px;
  bottom: 0px;
}

.rightDialog>div {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

#fuel,
#cargo,
#passengers {
  table {
    width: 100%;
    max-width: fit-content;
  }

  tr {
    display: grid;
    grid-template-columns: minmax(8rem, 16rem) minmax(4rem, 7rem) minmax(4rem, 7rem) minmax(5rem, 9rem);
  }

  .passengerLoadingWeight,
  .passengerLoadingSeats {
    display: flex;
    align-items: center;
    margin: 0px auto;

    input {
      width: 1.3rem;
      text-align: center;
      margin-right: 3px;
    }

    /* WebKit browsers (Chrome, Safari, Edge, Opera) */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }
}

#fuel {
  tr {
    grid-template-columns: minmax(7rem, 14rem) minmax(3rem, 9rem) minmax(3rem, 10rem) minmax(3rem, 9rem);
  }

  @media (max-width: 450px) {
    grid-template-columns: minmax(7rem, 14rem) minmax(3rem, 9rem) minmax(3rem, 9rem);

    .narrowFilter {
      display: none;
    }
  }
}
