h2 {
  text-align: start;
}

.filler {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  column-gap: 10px;
  justify-content: start;
  align-items: center;
}

.filler:has(.rightDialog) {
  position: relative;
}

.rightDialog {
  position: absolute;
  z-index: 10;
  left: 100%;
  top: -15px;
  bottom: 0px;
}

.rightDialog>div {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
  align-items: center;
  width: max-content;
}
