#balancr-configSelectRow {
  display: flex;
  justify-content: space-between;

  label {
    margin: 0px 6px;
  }

  select {
    width: 13rem;
  }

  #buttons {
    display: grid;
    grid-template-columns: 8rem;
    align-items: center;
    gap: 6px;
  }

  @media (max-width: 680px) {
    display: block;
  }
}

#aircraftSelect {
  div {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    max-width: 30rem;

    label {
      margin: auto 0px;
    }
  }
}
