.rows {
  display: grid;
  max-width: 25rem;
  grid-template-columns: 10rem 1fr 8rem 1fr;
  align-items: center;
  gap: 8px;

  @media (max-width: 640px) {
    grid-template-columns: 10rem 1fr;
  }

  input {
    width: 8rem;
  }
}

#aircraftSelectRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  #selector {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    max-width: 20rem;
    gap: 6px;

    label {
      margin: 0px 3px;
      text-align: center;
      margin: auto;
    }

    select {
      min-width: 10rem;
    }

    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    justify-content: space-between;
    gap: 5px;

    @media (max-width: 700px) {
      grid-template-columns: 8rem;
    }
  }
}

#aircraftMergeHolder {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  #aircraftCopyRow {
    margin: 3px 0px;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(2, 9rem);
    text-align: center;

    @media (max-width: 580px) {
      grid-template-columns: repeat(1, 9rem);
    }
  }

  #childAircraftSelect {
    flex-grow: 1;
    max-width: 25rem;
  }
}
