.rows {
  display: grid;
  max-width: 25rem;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  @media (max-width: 580px) {
    grid-template-columns: 1fr;

    h3 {
      margin: .2rem;
    }
  }

  input {
    min-width: 10.4rem;
    max-width: 10.4rem;
  }
}

#aircraftSelectRow {
  margin: 3px;
  display: grid;
  gap: 5px;


  @media (max-width: 580px) {
    grid-auto-flow: column;
    align-items: center;
  }

  #selector {
    display: grid;
    grid-template-columns: 5rem 1fr;
    justify-content: space-between;
    max-width: 25rem;

    label {
      margin: 0px 3px;
      text-align: center;
      margin: auto;
    }

    @media (max-width: 580px) {
      grid-template-columns: 1fr;
    }
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 5px;
    max-width: 25rem;

    @media (max-width: 580px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

#aircraftMergeHolder {
  display: flex;
  justify-content: start;
  gap: 5px;

  #aircraftCopyRow {
    margin: 3px 0px;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(2, 9rem);
    text-align: center;

    @media (max-width: 580px) {
      grid-template-columns: repeat(1, 9rem);
    }
  }

  #childAircraftSelect {
    flex-grow: 1;
    max-width: 25rem;
  }
}
