@media (max-width: 650px) {
  #cargoConfig {
    tr {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1.fr;
      grid-template-rows: auto auto;
    }

    th {
      height: min-content;
      width: 5rem;
      max-width: unset;
    }
  }
}

#cargoConfig {
  input {
    max-width: 8rem;
  }
}
