#configTitle {
  display: grid;
  grid-template-columns: 1fr 1fr 9rem 9rem 9rem;
  gap: 8px;

  input {
    min-width: 5rem;
  }
}

#aircraftTitle {
  display: grid;
  grid-template-columns: 1fr 1fr 5rem 5rem 5rem;
  gap: 8px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(6, 1fr);

    select,
    input {
      grid-column: span 3;
    }

    button {
      grid-column: span 2;
    }
  }

  input {
    min-width: 5rem;
  }
}

#configEquipment,
#configCargo,
#configFuel,
#configSeats {
  border-collapse: collapse;
  user-select: none;

  th {
    border-bottom: 1px solid black;
    height: 2.4rem;
  }

  tr:nth-child(even) {
    background: #8882;
  }

  tr:hover td {
    background: #fff2;
    cursor: pointer;
  }

  th,
  td {
    padding: 6px;
    text-align: center;
  }
}

.equipmentSelect {
  input[type=number] {
    width: 3rem;
  }
}
