@media (max-width: 580px) {
  #editEquipmentTable {
    tr {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr 3rem;
      grid-template-rows: auto auto;
    }

    th {
      height: min-content;
    }
  }
}

#editEquipmentTable {
  input {
    max-width: 8rem;
  }
}
