@media (max-width: 650px) {
  #fuelConfig {
    tr {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1.5fr 5rem;
      grid-template-rows: auto auto;
      justify-items: center;
    }

    th {
      height: min-content;
      max-width: unset;
    }
  }
}

#fuelConfig {
  input {
    max-width: 8rem;
  }
}
