.weightLimit {
  td {
    padding: 3px;
  }
}

.weightRegion {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: start;
  padding: 4px;
  border-bottom: 1px solid white;

  .title {
    display: grid;
    grid-template-columns: 8rem 3rem 5rem 2rem;
    gap: 5px;
    padding: 3px 0px;
  }
}

.regionTable {
  border-collapse: collapse;

  td {
    margin: 3px 2px;
  }

  tr:nth-child(even) {
    background: #8882;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 2.6rem;
    position: relative;

    input {
      max-width: 5rem;
    }

    button {
      width: 2rem;
    }

    .addButton {
      opacity: 0;
      z-index: 1;
      width: unset;
      margin: unset;
      position: absolute;
      top: calc(100% - 2px);
      left: 0px;
      right: 0px;
      padding: 0px;
      height: 4px;
      border-radius: 2px;
      grid-column: span 3;
      background-color: var(--accent);
    }
  }
}

.weightRegionRow:has(input:focus) .addButton,
.weightRegionRow:hover .addButton,
.weightRegionRow .addButton:hover {
  opacity: 1;
}
