.rows {
  display: flex;
  gap: 8px;

  input {
    width: 13vw;
    min-width: 8rem;
  }
}

#aircraftSelectRow {
  margin: 3px;
  display: grid;
  gap: 5px;

  #selector {
    display: grid;
    grid-template-columns: 5rem 1fr;
    justify-content: space-between;
    max-width: 25rem;

    label {
      margin: 0px 3px;
      text-align: center;
      margin: auto;
    }
  }

  #buttons {
    display: grid;
    grid-template-columns: repeat(3, 7rem);
    justify-content: space-between;
    gap: 5px;
    max-width: 25rem;
  }
}

#aircraftMergeHolder {
  display: flex;
  justify-content: start;
  gap: 5px;

  #aircraftCopyRow {
    margin: 3px 0px;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(2, 7.5rem);
    text-align: center;
  }

  #childAircraftSelect {
    flex-grow: 1;
    max-width: 25rem;
    ;
  }
}
