#configEquipment,
#configCargo,
#configSeats {
  border-collapse: collapse;

  th {
    border-bottom: 1px solid black;
  }

  tr:nth-child(even) {
    background: #8882;
  }

  tr:hover td {
    background: #fff2;
    cursor: pointer;
  }

  th, td {
    padding: 6px;
  }
}

.equipmentSelect {
  input[type=number] {
    width: 3rem;
  }
}
