#configTitle {
  display: grid;
  grid-template-columns: 1fr 1fr 9rem 9rem 9rem;
  gap: 8px;
  input {
    min-width: 5rem;
  }
}

#configEquipment,
#configCargo,
#configSeats {
  border-collapse: collapse;
  user-select: none;

  th {
    border-bottom: 1px solid black;
    height: 2.2rem;
  }

  tr:nth-child(even) {
    background: #8882;
  }

  tr:hover td {
    background: #fff2;
    cursor: pointer;
  }

  th, td {
    padding: 6px;
    text-align: center;
  }
}

.equipmentSelect {
  input[type=number] {
    width: 3rem;
  }
}
