#diagramHolder {
  flex: 1;
  display: grid;
}

#diagram {
  margin: auto;
  user-select: none;
  max-height: 100%;

  text {
    fill: var(--text-d);
  }

  #aircraft {
    fill: var(--diagram-aircraft-bg);
  }

  .seat {
    fill: var(--diagram-seat-fill);
  }

  .cargo {
    fill: transparent;
  }

  .seat.loadFilled,
  .loadingFill {
    fill: var(--diagram-load-fill);
  }

  .seat.opsFilled,
  .cargoOpsFill {
    fill: var(--diagram-ops-fill);
  }
}
