#geometry {
  display: flex;

  div {
    margin: 3px;
  }

  input {
    width: 80%;
  }
}

#limits,
#regions {
  margin: 3px;
}

.seatInput {
  display: grid;
  grid-template-columns: 8.5rem 3.5rem 3.5rem 3.5rem 2.5rem 2rem;
  gap: 6px;
  margin: 3px;
}

.weightLimit,
.cargoInput {
  display: grid;
  grid-template-columns: 11rem 5rem 5rem 2rem;
  gap: 6px;
  padding: 3px;
}

.fuelInput {
  display: grid;
  grid-template-columns: 11rem 5rem 5rem 5.2rem 2rem;
  gap: 6px;
  padding: 3px;
}

.weightLimit {
  grid-template-columns: 8rem 4rem 3rem 4rem 2rem;
}

.weightRegion {
  display: flex;
  flex-direction: column;
  padding: 4px;

  h4 {
    margin: 8px 0px;
  }

  .title {
    display: grid;
    grid-template-columns: 10rem 3rem 5rem 3rem;
    gap: 5px;
    padding: 3px 0px;
  }
}

.weightRegionRow {
  display: grid;
  grid-template-columns: 5rem 5rem 3rem;
  gap: 4px 2px;

  .addButton {
    opacity: 0;
    position: relative;
    bottom: 3px;
    left: 0px;
    right: 0px;
    padding: 0px;
    height: 4px;
    border-radius: 2px;
    grid-column: span 3;
  }
}

.weightRegionRow:has(input:focus) .addButton,
.addButton:hover {
  opacity: 1;
}


/* .weightRegionRow:last-child:hover { */
/*   border-bottom: 3px solid Red; */
/* } */
