#geometry {
  display: flex;
  /* flex-direction: row; */
  * {
    margin: 3px;
  }
}

#limits,
#regions {
  margin: 3px;
}

.seatInput {
  display: grid;
  grid-template-columns: 8.5rem 3.5rem 3.5rem 2.5rem 2rem;
  gap: 6px;
  margin: 3px;
}

.cargoInput {
  display: grid;
  grid-template-columns: 11rem 4rem 4rem 2rem;
  gap: 6px;
  margin: 3px;
}

/* .weightRegion input:nth-child(odd) { */
/*   margin-left: auto; */
/*   margin-right: 4px; */
/* } */

/* .weightRegion input:nth-child(even) { */
/*   margin-right: auto; */
/*   margin-left: 4px; */
/* } */
