#graphHolder {
  flex: 1;
  display: grid;
}

svg#graph {
  margin: auto;
  user-select: none;
  max-height: 100%;

  text {
    font-size: .18rem;
  }

  text.title {
    font-size: 5px;
    fill: var(--text-h);
  }

  .background {
    fill: var(--graph-bg);
  }

  polyline.gridLines {
    stroke: var(--graph-grid-lines);
  }

  text.gridLines {
    fill: var(--graph-grid-lines-text);
  }

  text.point {
    fill: var(--text);
  }

  circle.point,
  rect.point {
    stroke: var(--bg);
    stroke-width: 0.25;
  }

  circle.point.highlight,
  rect.point.highlight {
    stroke: var(--text);
  }

  .configArea {
    stroke: none;
    fill: #9994;
  }
}
