#header {
  background: var(--header-bg);
  height: 75px;
  display: grid;
  grid-template-columns: 9rem 20rem 9rem;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 36px;
    margin: 0;
  }

  button {
    margin: auto;
    padding: 5px;
    width: 8rem;
    border-radius: 0px;
  }
}
