#header {
  background: #1c1d24;
  height: 75px;
  display: grid;
  grid-template-columns: 9rem 20rem 9rem;
  justify-content: space-between;

  h1 {
    font-size: 36px;
    margin: auto 0px;
  }

  button {
    margin: auto;
    padding: 12px;
  }
}
