#header {
  background: var(--header-bg);
  height: 75px;
  display: grid;
  grid-template-columns: 9rem 20rem 9rem;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 36px;
    margin: 0;
    display: flex;
    align-items: center;

    img {
      height: 44px;
      width: 44px;
      margin-right: 10px;
    }
  }

  nav {
    margin: 6px;
    display: grid;
    gap: 4px;

    button {
      margin: auto;
      padding: 5px;
      width: 8rem;
      border-radius: 0px;
      background-color: #0003;
      border-left: 1px solid var(--accent);
      color: var(--text-h);
    }

    button:hover {
      background-color: oklch(from #0004 calc(l * 2) c h);
    }

    button:active {
      background-color: oklch(from var(--button-bg) calc(l * 0.5) c h);
    }
  }

  @media (max-width: 580px) {
    grid-template-columns: auto auto;
    justify-content: start;
    height: 60px;

    h1 {
      font-size: 2rem;
      margin: auto .5rem;

      img {
        display: none;
      }
    }

    nav {
      width: 4rem;

      button {
        padding: 4px 0px;
      }
    }
  }
}
