:root {
  /* Text */
  --text: #111;
  --text-h: #08060d;
  --text-l: #222;
  --text-d: #444;
  --text-w: #944;

  /* Borders */
  --border: #8884;
  --dialog-border: #000;

  /* Backgrounds */
  --bg: #DEF;
  --code-bg: #f4f3ec;
  --header-bg: #667;
  --region-bg: #89B;
  --sub-region-bg: #aab0cc;
  --diagram-bg: #889;
  --graph-bg: #FFF;
  --input-bg: #FFF;
  --button-bg: #77d;
  --dialog-bg: #777;
  --warn-bg: #311;

  /* Accents */
  --accent: #3333BB;
  --accent-bg: rgba(70, 50, 230, 0.1);
  --accent-border: rgba(80, 90, 137, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --table-bg: #0002;


  /* SVGs */
  --graph-grid-lines-text: #000;
  --graph-grid-lines: #1118;
  --diagram-aircraft-bg: #FFF;
  --diagram-seat-fill: #EEE;
  --diagram-ops-fill: #7799CC;
  --diagram-load-fill: #AABBFF;

  /* Shadows */
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --margin-size: 9px;

  @media (max-width: 1200px) {
    --margin-size: 5px;
  }

  /* font: 18px/145% var(--sans); */
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Text */
    --text: #CCC;
    --text-h: #f3f4f6;
    --text-l: #AAA;
    --text-d: #FFF;
    --text-w: #F22;

    /* Borders */
    --border: #1e202a;
    --dialog-border: #FFF;

    /* Backgrounds */
    --bg: #30323e;
    --code-bg: #1f2028;
    --header-bg: #1c1d24;
    --region-bg: #1f2134;
    --sub-region-bg: #2f314f;
    --diagram-bg: #334;
    --graph-bg: #444;
    --input-bg: #131639;
    --button-bg: #323a86;
    --dialog-bg: #555;
    --warn-bg: #422;

    /* Accents */
    --accent: #3041eb;

    /* SVGs */
    --graph-grid-lines-text: #EEE;
    --graph-grid-lines: #fff6;
    --diagram-aircraft-bg: #444;
    --diagram-seat-fill: #999;
    --diagram-ops-fill: #358;
    --diagram-load-fill: #125;

    /* Shadows */
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  border-inline: 1px solid var(--border);
  box-sizing: border-box;
  height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  text-align: center;
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 40px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
  color: var(--text);
}

code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

select,
input {
  outline: unset;
  color: var(--text);
  background: var(--input-bg);
  border-style: solid;
  border-color: var(--border);
  border-width: 1px;
  border-radius: 6px;
  padding: 5px;

  @media (max-width: 580px) {
    padding: 2px;
    border-radius: 3px;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

button {
  padding: 6px;
  color: var(--text);
  background-color: var(--button-bg);
  border: 0px;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 580px) {
    padding: 2px;
    border-radius: 3px;
  }
}

button:hover {
  background-color: oklch(from var(--button-bg) calc(l * 1.25) c h);
}

button:active {
  background-color: oklch(from var(--button-bg) calc(l * 0.85) c h);
}

/* Primary layout */

#content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  overflow-x: auto;
  max-width: 100svw;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

#leftPanel {
  min-width: 44rem;

  @media (max-width: 1200px) {
    min-width: 0px;
  }
}

#rightPanel {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  min-width: 25rem;
  min-height: 0px;

  @media (max-width: 1200px) {
    position: absolute;
    flex-direction: row;
    right: 0px;
    top: 0px;
    height: 60px;
    width: 200px;
    min-width: 0px;
  }
}

@media (max-width: 1200px) and (min-width: 500px) {
  #rightPanel:hover {
    max-width: unset;
    max-height: fit-content;
    height: fit-content;
    width: calc(100svw - var(--margin-size) * 2);
    top: var(--margin-size);
    right: var(--margin-size);

    transition-property: width, height, top, right;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }
}

@media (max-width: 500px) {
  #rightPanel:hover {
    display: grid;
    height: fit-content;
    width: calc(100svw - var(--margin-size) * 2);
    /* height: calc(50svh - var(--margin-size) * 2); */
    top: var(--margin-size);
    right: var(--margin-size);

    transition-property: width, height, top, right;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }
}
