#graphHolder,
#diagramHolder,
#leftPanel,
.subregion,
.region {
  background: #1f2134;
  border-radius: 5px;
  padding: 9px;
  margin: 9px;
  overflow-x: auto;
}

#content {
  max-height: calc(100vh - 100px);
  display: flex;
}

#leftPanel {
  display: flex;
  flex-direction: column;
}

#split {
  display: grid;
  grid-template-columns: 8fr 6fr;
  height: 100%;
}

.subregion {
  background: #2f314f;
  overflow-y: auto;
}

.verticalRegion {
  display: grid;
  grid-template-rows: var(--fraction) 1fr;
}

.horizontalRegion {
  display: grid;
  grid-template-columns: var(--fraction) 1fr;
}

.grouping {
  border-radius: 7px;
  border: 1px solid var(--border);
  margin: 3px;
}

.multiPane {
  #topBar {
    width: 100%;
    display: flex;
    .topButton {
      padding: 3px;
      flex: 1;
      border-radius: 0px;
      background: none;
      font-size: 1.1rem;
    }
    .topButton:hover {
      background: #77777733
    }
    .topButton:active {
      background: #77777722
    }
    .selected {
      border-bottom: 2px solid var(--accent);
    }
  }
}

