#graphHolder,
#diagramHolder,
#leftPanel,
.subregion,
.region {
  background: #1f2134;
  border-radius: 5px;
  margin: var(--margin-size);
  overflow-x: auto;
}

.internalPadding {
  margin: var(--margin-size);
}

#content {
  flex: 1;
  height: 100%;
  display: flex;
}

#split {
  flex: 1;
  display: flex;
}

#leftPanel {
  flex: 1.1;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
}

#rightPanel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  svg {
    margin: var(--margin-size);
  }
}

#diagramHolder,
#graphHolder {
  display: flex;
  align-items: center;
  flex: 2;
}

#diagramHolder {
  flex: 1;
}

.subregion {
  background: #2f314f;
  overflow-y: auto;
}

.verticalRegion {
  display: grid;
  grid-template-rows: var(--fraction) 1fr;
}

.horizontalRegion {
  display: grid;
  grid-template-columns: var(--fraction) 1fr;
}

.grouping {
  border-radius: 7px;
  border: 1px solid var(--border);
  margin: 3px;
}

.multiPane {
  #topBar {
    width: 100%;
    display: flex;
    .topButton {
      padding: 3px;
      flex: 1;
      border-radius: 0px;
      background: none;
      font-size: 1.1rem;
    }
    .topButton:hover {
      background: #77777733
    }
    .topButton:active {
      background: #77777722
    }
    .selected {
      border-bottom: 2px solid var(--accent);
    }
  }
}

