.panel,
.subregion,
.region {
  background: var(--region-bg);
  border-radius: 5px;
  margin: var(--margin-size);
  padding: var(--margin-size);
  overflow-x: auto;
  overflow-y: hidden;
}

.internalPadding {
  margin: var(--margin-size);
  overflow-y: visible;
}

.subregion {
  padding: var(--margin-size);
  overflow: visible;
  background: var(--sub-region-bg);
}

.verticalRegion {
  display: grid;
  grid-template-rows: var(--fraction) 1fr;
}

.horizontalRegion {
  display: grid;
  grid-template-columns: var(--fraction) 1fr;
}

.grouping {
  border-radius: 7px;
  border: 1px solid var(--border);
  margin: 3px;
}

.multiPane {
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0px;

  @media (max-width: 1200px) {
    width: 100%;
  }

  .multiPane-topBar {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;

    .topButton {
      padding: 3px 8px;
      flex: 1;
      border-radius: 0px;
      background: none;
      font-size: 1.1rem;
      text-wrap-mode: nowrap;
    }

    .topButton:hover {
      background: #11111133
    }

    .topButton:active {
      background: #55555533
    }

    .selected {
      border-bottom: 2px solid var(--accent);
    }
  }

  .multiPane-topBar::-webkit-scrollbar {
    display: none;
  }

  .multiPane-body {
    display: flex;
    flex-direction: column;
    min-height: 0px;
    height: 100%;
  }

  .multiPane-body:not(:has(.multiPane)) {
    overflow-y: auto;
  }
}

.tableData {
  border-collapse: collapse;
  user-select: none;

  .clickable {
    cursor: pointer;
  }

  thead:first-child {
    border-bottom: 1px solid black;
  }

  th {
    color: var(--text-l);
  }

  tr:nth-child(even) {
    background: var(--table-bg);
  }

  th,
  td {
    padding: 6px;
    text-align: center;
    align-content: center;

    input {
      width: 90%;
    }

    button {
      width: 2rem;
    }
  }
}
